Source: gooroom-libsecurity-extensions
Section: admin
Priority: optional
Maintainer: Gooroom Engineering Team <devel-os@gooroom.kr>
Build-Depends: debhelper (>= 9), libjson-c5, libnotify4, libgdk-pixbuf2.0-0, libdbus-glib-1-dev
Standards-Version: 3.9.5
Homepage: http://www.gooroom.kr

Package: gooroom-libsecurity-extensions
Architecture: any
Depends: python-pyinotify
Description: gooroom-resource-access-control extensions for screen-capture and clipboard 
 
